# 2018년 3월 28일 점프투파이썬 2장
## 테스트
- 숫자형
    1. 기능1
    2. 기능2
- 문자열
- 리스트

1. 숫자형
2. 문자열

In [2]:
print("3번째 수업")

3번째 수업

## 1절 숫자형

In [4]:
a = 1,2,3

In [5]:
a

(1, 2, 3)

In [6]:
456

456

In [7]:
1+2

3

In [8]:
3*4

12

In [9]:
7/4

1.75

In [10]:
-7/4

-1.75

In [11]:
7%3

1

In [12]:
7//9

0

In [13]:
1-0.9

0.09999999999999998

In [14]:
int(1-0.9)

0

### Lab 1
#### 수익 계산
- 변수 revenue를 생성 후 98456 할당
- 변수 cost를 생성 후 45000 할당
- 변수 profit을 생성 후 revenue와 cost차이 값으로 설정
- profit 출력

In [32]:
revenue = 98456

In [33]:
cost = 45000

In [34]:
profit = revenue - cost

In [35]:
print(profit)

53456

## 2절 문자열

In [17]:
boy = "I am a boy"

In [18]:
boy

'I am a boy'

In [21]:
girl = 'I am a girl'

In [22]:
girl

'I am a girl'

In [23]:
"I'm a boy"

"I'm a boy"

In [25]:
'I\'m a boy'

"I'm a boy"

In [26]:
friend ="""
I am a boy
You are a girl
"""

In [27]:
friend

'\nI am a boy\nYou are a girl\n'

In [28]:
boy + girl

'I am a boyI am a girl'

In [30]:
boy+' '+girl

'I am a boy I am a girl'

In [31]:
boy*3

'I am a boyI am a boyI am a boy'

In [40]:
# 문자열 인덱싱
a = 'Life is too short, You need Python'

In [42]:
a[0]+a[10]+'v'+a[3]

'Love'

In [45]:
# 문자열 슬라이싱 a<= : < b
a[12:17]

'short'

In [47]:
a[:]

'Life is too short, You need Python'

In [48]:
a[8:]

'too short, You need Python'

In [49]:
a[:21]

'Life is too short, Yo'

### Lab 2
#### 문자열 다루기
- 변수 a를 생성해서 문자열 "I love Python!"
- 변수 b를 생성해서 문자열 "You hate Python!"

In [36]:
a = "I love Python!"
b= "You hate Python!"

In [37]:
print(a)

I love Python!

In [38]:
print(b)

You hate Python!

In [50]:
a = "20180328Sunny"

In [56]:
year = a[0:4]

In [57]:
month = a[4:6]

In [60]:
day = a[6:8]

In [51]:
date = a[0:8]

In [53]:
weather = a[8:]

In [62]:
print(year, month, day, weather)

2018 03 28 Sunny

In [63]:
'오늘은 {0} 년 {1} 월 {2} 일이며, 날씨는 {3} 입니다.'.format(year,month,day,weather)

'오늘은 2018 년 03 월 28 일이며, 날씨는 Sunny 입니다.'

### 문자열 내장함수

In [70]:
a = 'hobby'

In [76]:
a.count('b') #count함수는 해당 문자열의 갯수를 알려줌.

2

In [77]:
a.find('o') #find함수는 해당 문자열의 위치를 알려줌.

1

In [79]:
a.index('b') #index함수는 해당 문자열의 위치를 알려줌.(find함수와 차이점은 해당 문자열이 없으면 오류가 발생됨.)

2

In [86]:
a= ", "
a.join("abcd") #join함수는 문자열을 결합시켜줌

'a, b, c, d'

In [88]:
a = 'I love Python'
a.upper() #upper함수는 해당 문자열을 대문자로 바꿔줌.

'I LOVE PYTHON'

In [89]:
a.lower() #lower함수는 해당 문자열을 소문자로 바꿔줌.

'i love python'

In [93]:
a=" hi "
a.lstrip() #lstrip함수는 왼쪽 공백을 제거함.

'hi '

In [94]:
a.rstrip() #rstrip함수는 오른쪽 공백을 제거함.

' hi'

In [95]:
a.strip() #strip함수는 양쪽 공백을 제거함.

'hi'

In [97]:
a = "Life is too short"
a.split() #split함수는 해당 문자열을 ()안에 형태를 기준으로 구분해줌.

['Life', 'is', 'too', 'short']

## Lab 2 이어서...
- 변수 a를 생성하여, 문자열 "I love Python!"을 할당하시오.
- 변수 b를 생성하여, 문자열 "You hate Python!"을 할당하시오.

- a에서 첫번재 o의 위치를 find()함수로 찾아보시오.
- b에서 첫번째 o의 위치를 index()함수로 찾아보시오.
- a의 'o'문자 개수를 세시오.

In [103]:
a= "I love Python!"
b= "You hate Python!"

In [105]:
print(a.find('o'),b.index('o'),a.count('o'))

3 1 2

- 변수 a를 모두 대문자로 바꿔보시오.
- 변수 b를 모두 소문자로 바꿔보시오.

In [106]:
a.upper()

'I LOVE PYTHON!'

In [107]:
b.lower()

'you hate python!'

- 변수 a_6에 a의 첫 7글자들로 이루어진 부분 문자열을 할당하시오.
- 변수 a_6의 문자열을 공백을 이용해서 나눠보시오.

In [115]:
a_6 = a[:7]

In [116]:
a_6

'I love '

In [117]:
a_6.rstrip()

'I love'

### Lab 3
#### 문자열 포매팅
- 변수 pi를 생성하고 3.141592를 할당하시오.
- 변수 sq_root를 생성하고 1.41429를 할당하시오.

In [67]:
pi = 3.141592
sq_root = 1.41429

##### 다음의 출력을 포매팅을 사용하여 만드시오.
- Pi is 3.141592, and square root of 2 is 1.41429

In [68]:
"Pi is {0}, and square root of 2 is {1}".format(pi,sq_root)

'Pi is 3.141592, and square root of 2 is 1.41429'

## 3절 리스트