# 점프투파이썬 2장 이어서
## 3절 리스트

In [1]:
print("안녕하세요.")

안녕하세요.

In [2]:
print(123)

123

## 리스트 만들기

In [4]:
# 빈 리스트
a = []
a

[]

In [5]:
b = [1,2,3]
b

[1, 2, 3]

In [6]:
c = ['Life','is','too','short']

In [7]:
c

['Life', 'is', 'too', 'short']

In [10]:
d = [1,2,3,"life",'is']
d

[1, 2, 3, 'life', 'is']

In [12]:
e = [1,2,["life","is"]]
e

[1, 2, ['life', 'is']]

### 리스트의 인덱싱

In [13]:
[0,5] #공간 상 첫째부터 다섯번째까지

[0, 5]

In [14]:
a = [1,2,3]
a

[1, 2, 3]

In [15]:
a[1]

2

In [16]:
a[-1]

3

In [17]:
a[2]=4

In [18]:
a

[1, 2, 4]

In [19]:
e

[1, 2, ['life', 'is']]

In [21]:
e[2][0]

'life'

### 리스트의 슬라이싱

In [22]:
a=[1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [23]:
b = a[0:2]
b

[1, 2]

In [26]:
b=a[:2]
b

[1, 2]

### 리스트의 연산자

In [27]:
print(a,b)

[1, 2, 3, 4, 5] [1, 2]

In [30]:
c=a+b
c

[1, 2, 3, 4, 5, 1, 2]

In [31]:
c*2

[1, 2, 3, 4, 5, 1, 2, 1, 2, 3, 4, 5, 1, 2]

### 리스트의 수정,변경,삭제

In [32]:
# 하나의 값 수정하기
a=[1,2,3]

In [33]:
a[2]=4

In [34]:
a

[1, 2, 4]

In [35]:
# 연속된 범위값 수정
a[1:2]

[2]

In [36]:
a[1:2] = ['a','b','c']
a

[1, 'a', 'b', 'c', 4]

In [39]:
a[2] =['d','e'] #인덱싱으로 리스트 수정을 할 경우와 슬라이싱을 통해 리스트 수정할 때의 경우는 결과값 차이가 있다.

In [38]:
a

[1, 'a', ['d', 'e'], 'c', 4]

In [40]:
# 리스트 요소 삭제
del a [2]
a

[1, 'a', 'c', 4]

In [41]:
a = [1,2,3,4]
del a[1:3]
a

[1, 4]

### 리스트 함수

In [43]:
# 리스트에 요소 추가
a=[1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [44]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [47]:
#리스트 정렬하기
a=[1,4,5,3,5,3,4]
a.sort()
a

[1, 3, 3, 4, 4, 5, 5]

In [52]:
# 리스트 뒤집기

a.reverse()
a

[1, 3, 3, 4, 4, 5, 5]

In [54]:
# 위치변환
a=[1,2,3]
a.index(3)
#3의 위치는?

2

In [55]:
# 리스트에 요소 삽입
a=[1,2,3]
a.insert(0,4)
a

[4, 1, 2, 3]

In [56]:
a.insert(3,5)
a

[4, 1, 2, 5, 3]

In [59]:
#리스트 요소 제거
a=[1,2,3,1,2,3]
a.remove(2)
a

[1, 3, 1, 2, 3]

In [63]:
#리스트 요소 꺼내기
a=[1,2]
a.pop()

2

In [62]:
#요소 개수 세기
a=[1,2,3,1]
a

[1, 2, 3, 1]

In [67]:
# 리스트 확장
a=[1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [68]:
a.append([5,6])
a

[1, 2, 3, 4, 5, [5, 6]]

## 튜플

In [70]:
t1=()
t2=(1,)
t3=(1,2,3)
t4=('a','b')
print(t1,t2,t3,t4)

() (1,) (1, 2, 3) ('a', 'b')

In [71]:
del t3[0]

TypeError: 'tuple' object doesn't support item deletion

### 딕셔너리 (1:1대응 집합)

In [73]:
dic = {'name':'철현','phone':'0100000000'}

In [74]:
print(dic)

{'name': '철현', 'phone': '0100000000'}

In [77]:
dic['name']

'철현'

In [78]:
dic['phone']

'0100000000'

In [79]:
dic={'name':'이정우','name':'홍길동'}

In [91]:
dic['name']

'홍길동'

In [92]:
#키깂에 어떤 것들이 존재하는가?
dic.keys()

dict_keys(['name'])

In [93]:
#value값에 어떤 것들이 존재하는가?
dic.values()

dict_values(['홍길동'])

### 불 자료형(bool)
#### (참과 거짓을 나타내는 자료형)

In [95]:
# T / F
# True / False
3 > 1

True

In [96]:
1 > 3

False

In [99]:
if " ":
    print("참")
else:
    print("거짓")

참

# 3장 제어문

## 1. if문

In [103]:
money = 1 #참인 조건문

In [105]:
if money==True :
    print("택시를 타고가라")
else :
    print("걸어가라")

택시를 타고가라

In [106]:
money = 0

In [107]:
if money==True :
    print("택시를 타고가라")
else :
    print("걸어가라")

걸어가라

# if 조건문 기본구조
if 조건문 :
    수행 문장1
    수행 문장2
else :
    수행 문장A
    수행 문장B
#Tab 1번 또는 spacebar 4번

In [110]:
money = 2000  #소유한 금액
if money >= 3000:
    print("택시타자~!!")
else :
    print("걸어가자~!!")

걸어가자~!!

In [112]:
money =2000 #소유한 금액
card = 1 #카드가 있다.
if money >= 3000 or card :
    print("택시타자")
else :
    print('걷자')

택시타자

In [120]:
pocket = ['paper','handphone','card']
if 'money' in pocket:
    print("택시 타자")
else: 
    if 'card'in pocket:
        print("택시 타자")
    else : 
        print("걷자")

택시 타자

In [121]:
#elif를 사용
if 'money' in pocket:
    print("택시타자")
elif 'card'in pocket :
    print("택시타자")
else :
    print("걷자")

택시타자

In [ ]:
# 구문
if <조건문> :
    수행문장 1
    수행문장 2
elif <조건문> :
    수행문장 1
else :
    수행문장 1